<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= error.message %></title>
    </head>
    <body>
	    <h1><%= error.stack||error.message %></h1>
    </body>
</html>